# Dependencies
node_modules/

# Build output
dist/
src-tauri/target/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Temp files
*.py
icon_mapping.json
focustree_ref.cpp


# Temp / task files
*.md
!README.md
*.ps1
focustree_ref.cpp
